$font-primary: 'Roboto', sans-serif;
$font-secondary: 'PT Mono', monospace;

$color-grey:#989797;
$color-green:#4ca866;
$color-green-hover: #9dcfab;
$color-orange:#e4572e;
$color-yellow:#f1dd7d;
$color-blue:#3c91e6;