.conocenos {
    display: flex;
    width: 100%;
  }

  .conocenos-mapa {
    width: 40%;
    display: flex;
    position: relative;
  }

  .conocenos-cafe {
    width: 33%;
    display: flex;
    position:relative;
  }