.hero {
    width: 70%;
    height: 80vh;
    position: relative;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}